<div class="wrapper">
  <div class="photo">
    <img src="https://image.tmdb.org/t/p/w500{{ data?.poster_path }}" alt="" />
  </div>
  <div class="details">
    <h1 class="title flex j-center">{{ data?.title }}</h1>
    <div class="genres flex row">
      <ng-container *ngFor="let genre of data?.genres">
        <h2 class="">{{ genre?.name }}</h2>
      </ng-container>
    </div>
    <div class="more flex row">
      <h3>{{ data?.vote_average }}</h3>
      <h3>{{ data?.runtime }}</h3>
    </div>
    <div class="overview">
      <p>{{ data?.overview }}</p>
    </div>
    <h1>Cast</h1>
    <div class="cast flex row">
      <div *ngFor="let member of cast" class="members">
        <ng-container *ngIf="member.profile_path">
          <img
            src="https://image.tmdb.org/t/p/w500{{ member?.profile_path }}"
            alt=""
          />
          <h3>{{ member.name }}</h3>
        </ng-container>
      </div>
    </div>
    <h1>Crew</h1>
    <div class="crew flex row">
      <div *ngFor="let member of crew" class="members">
        <ng-container *ngIf="member.profile_path">
          <img
            src="https://image.tmdb.org/t/p/w500{{ member?.profile_path }}"
            alt=""
          />
          <h3>{{ member.name }}</h3>
        </ng-container>
      </div>
    </div>
  </div>
</div>
